.Space {
  position: absolute;
  width: 550px;
  height: 550px;
  background-color: black;
}

.asteroid {
  position: absolute;
  z-index: 10;
}

.collector {
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: 20;
}

.reticule {
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: 30;
  opacity: 0.75;
}