.Space {
  position: absolute;
  width: 1050px;
  height: 1050px;
  background-image: url('/images/space_bg.jpg');
  background-size: cover;
}

.asteroid {
  position: absolute;
  z-index: 10;
}

.collector {
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: 20;
}

.reticule {
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: 30;
  opacity: 0.75;
}

.StatusBar {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 100;
}