.Space {
  position: absolute;
  width: 3280px;
  height: 2464px;
  /* background-image: url('%PUBLIC_URL%/images/space_bg.jpg'); */
  background-size: cover;
  z-index: 0;
}

.asteroid {
  position: absolute;
  z-index: 10;
}

.colony {
  position: absolute;
  z-index: 20;
}

.enemy {
  position: absolute;
  z-index: 25;
}

.collector {
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: 30;
}

.reticle {
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: 40;
  opacity: 0.75;
}

.pirate {
  position: absolute;
  width: 65px;
  height: 65px;
  z-index: 20;
}

.mecha {
  position: absolute;
  z-index: 30;
}

.shuttle {
  position: absolute;
  z-index: 31;
}

.explosion {
  position: absolute;
  z-index: 45;
}

.StatusBar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 100;
}

.StatusBar > button {
  border: 0px;
  padding: 0px;
  margin: 0px;
}

.ActionButton {
  width: 16px;
  height: 16px;
}

.StatusBar > .stats {
  padding-left: 10px;
}

#title-screen {
  position: fixed;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 5px solid black;
  z-index: 110;
  padding-top: 20vh;
  text-align: center;
}

#audio-player {
  position: fixed;
  bottom: 2px;
  right: 2px;
  height: 30px;
  z-index: 101;
}

.game-over-points {
  font-weight: bold;
}